<div class="container">
    <app-inscripcion-materia (recargarDelHijo)="recargarDelPadre($event)">
    </app-inscripcion-materia>
    <div class="box">
        <div class="row title">
            <h3>{{title}}</h3>
        </div>
        <div class="row">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cuatrimestre</th>
                        <th scope="col">Cupos</th>
                        <th scope="col">Profesor</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let materia of materias">
                        <th scope="row">{{materia.id}}</th>
                        <td>{{materia.nombre}}</td>
                        <td>{{materia.cuatrimestre}}</td>
                        <td>{{materia.cupos}}</td>
                        <td>{{materia.profesor}}</td>
                        <td [appHayCupo]="materia.cupos"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>