<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/Principal">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/Juegos">Menu de juegos<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/Juegos/Agilidad">Agilidad</a>
            <a class="nav-item nav-link" routerLink="/Juegos/Adivina">Adivina</a>
            <a class="nav-item nav-link" routerLink="/Juegos/PiedraPapelTijera">Piedra Papel o Tijera</a>
            <a class="nav-item nav-link" routerLink="/Juegos/Simon">Simón dice</a>
            <!-- <a class="nav-item nav-link icon-con-borde" routerLink="/Juegos/Configuracion">
                <i class="fa fa-cog"></i>
            </a> -->
            
            <!-- <a class="nav-item nav-link" href="#">Agilidad+listado</a>
            <a class="nav-item nav-link" href="#">Adivina+listado</a> -->

            <!-- <span class="icon-con">
               <a class="icon-con-borde nav-item nav-link" routerLink="/Juegos/Agilidad">
                    <i class="fa fa-cog"></i>
                </a>
            </span> -->
        </div>
        
    </div>    
</nav>
