<div class="container box">
    <div class="row title">
        <h3>{{title}}</h3>
    </div>
    <!-- <div class="row card-text">
        <p>Venta de productos para uso comercial.<br>Disponibles al por mayor y menor</p>
    </div> -->
    <form [formGroup]="actorForm" (ngSubmit)="altaActor()" class="needs-validation" novalidate>

        <div class="form-group">
            <label for="nombre"><b>Nombre:</b></label>
            <input formControlName="nombre" type="text" class="form-control" id="nombre"
                placeholder="Ingrese nombre del actor:" required>
        </div>

        <div class="form-group">
            <label for="apellido"><b>Apellido:</b></label>
            <input formControlName="apellido" type="text" class="form-control" id="apellido"
                placeholder="Ingrese apellido del actor:" required>
        </div>

        <div class="form-group">
            <label for="nacionalidad"><b>Nacionalidad:</b></label>
            <input formControlName="nacionalidad" type="text" class="form-control" id="nacionalidad"
                placeholder="Ingrese nacionalidad del actor:" required>
        </div>

        <div class="form-group">
            <label for="fecha"><b>Fecha de nacimiento:</b></label>
            <input formControlName="fechaNac" type="date" class="form-control" id="fechaNac"
                placeholder="Seleccione fecha de nacimiento:" required>
        </div>

        <button type="submit" [disabled]="!actorForm.valid" class="btn btn-primary">Alta</button>
    </form>
</div>