<div class="container box">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="../../../assets/card1.jpg" class="card-img-top" alt="agilidad-mental">
                <div class="card-body">
                    <h5 class="card-title">Películas</h5>
                    <p class="card-text">Lista de películas disponibles</p>
                    <a routerLink="/peliculas" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/card2.jpg" class="card-img-top" alt="piedra-papel-tijera">
                <div class="card-body">
                    <h5 class="card-title">Ventas</h5>
                    <p class="card-text">Administración</p>
                    <a routerLink="/ventas/listado" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>