<footer class="container">
    <div>
        <p>Gastón Pesoa</p>
        <ul>
            <li>
                <a href="https://github.com/gastonpesoa" target="_blank">
                    en GitHub <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a routerLink="/QuienSoy">
                    Quien Soy? <i class="fa fa-user"></i>
                </a>
            </li>
        </ul>
        <p>Trabajo práctico I Laboratio IV - Profesor Octavio Villegas - UTN FRA.</p>
    </div>
</footer>