<footer class="container">
    <div>
        <p>Gastón Pesoa</p>
        <ul>
            <li>
                <a routerLink="/QuienSoy">
                    ¿Quien Soy?
                    <i class="fa fa-user-circle"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/gastonpesoa" target="_blank">
                    En GitHub <i class="fa fa-github"></i>
                </a>
            </li>
        </ul>
        <p>
            <i class="fa fa-creative-commons"></i>
            - Trabajo práctico I Laboratio IV - Profesor Octavio Villegas - UTN FRA.
        </p>
    </div>
</footer>