<div class="container">
    <div class="card" style="width: 16rem;">
        <img src="../../../assets/imagenes/agilidad-mental.jpeg" class="card-img-top" alt="agilidad-mental">
        <div class="card-body">
            <h5 class="card-title">Velocidad y agilidad aritmética</h5>
            <p class="card-text">Juego de agilidad mental</p>
            <a routerLink="Agilidad" class="btn btn-primary">Jugar</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="../../../assets/imagenes/piedra-papel-tijera.png" class="card-img-top" alt="piedra-papel-tijera">
        <div class="card-body">
            <h5 class="card-title">Piedra Papel o Tijera</h5>
            <p class="card-text">Juega contra la máquina</p>
            <a routerLink="PiedraPapelTijera" class="btn btn-primary">Jugar</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="../../../assets/imagenes/adivina-el-numero.jpeg" class="card-img-top" alt="adivina-el-numero">
        <div class="card-body">
            <h5 class="card-title">Adivina el número secreto</h5>
            <p class="card-text">Juego de estrategia</p>
            <a routerLink="Adivina" class="btn btn-primary">Jugar</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="../../../assets/imagenes/simon.jpeg" class="card-img-top" alt="simon-dice">
        <div class="card-body">
            <h5 class="card-title">Simón dice</h5>
            <p class="card-text">Juego de memoria</p>
            <a routerLink="Simon" class="btn btn-primary">Jugar</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="../../../assets/imagenes/anagrama.jpeg" class="card-img-top" alt="anagrama">
        <div class="card-body">
            <h5 class="card-title">Anagrama</h5>
            <p class="card-text">Juego de transposición de letras para formar otras palabras</p>
            <a routerLink="Anagrama" class="btn btn-primary">Jugar</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="../../../assets/imagenes/tateti.png" class="card-img-top" alt="tateti">
        <div class="card-body">
            <h5 class="card-title">TaTeTi</h5>
            <p class="card-text">Juego de formar ceros o cruces de a tres en raya</p>
            <a routerLink="Tateti" class="btn btn-primary">Jugar</a>
        </div>
    </div>
</div>