<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">{{nuevoJuego.nombre}}</h1>
        <br>
        <!-- <div class="en-juego" *ngIf="enJuego"> -->
        <div class="en-juego">
            <div class="container tablero">
                <div class="row">
                    <div class="div-boton-juego col-6">
                        <button (click)="registrarSecuenciaUsuario(1)" id="btn-verde"
                            class="btn btn-success btn-md botones-juego bt"></button>
                    </div>
                    <div class="div-boton-juego col-6">
                        <button (click)="registrarSecuenciaUsuario(2)" id="btn-rojo"
                            class="btn btn-danger btn-md botones-juego"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="div-boton-juego col-6">
                        <button (click)="registrarSecuenciaUsuario(3)" id="btn-amarillo"
                            class="btn btn-warning btn-md botones-juego"></button>
                    </div>
                    <div class="div-boton-juego col-6">
                        <button (click)="registrarSecuenciaUsuario(4)" id="btn-azul"
                            class="btn btn-primary btn-md botones-juego"></button>
                    </div>
                </div>
            </div>
            <div *ngIf="registrarSecuencia" class="label-jugadores row">
                <label class="col-12">
                    <p>Repita la secuencia..</p>
                    <p><i class="fa fa-spinner fa-spin">
                        </i> Tiempo: <b>{{contador}}</b></p>
                </label>
            </div>
        </div>
        <div class="row" *ngIf="!enJuego">
            <p><button (click)="nuevo()" class="btn btn-primary btn-lg" type="button" id="button-nuevo">
                    Nuevo juego</button></p>
        </div>
    </div>
</div>