<div class="container">
    <div class="box">
        <div class="row title"><h3>{{title}}</h3></div>
        <div class="row card-text"><p>Peliculas disponibles.<br>Venta y alquiler</p></div>
        <div class="row">
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Fecha de estreno</th>
                    <th scope="col">Cantidad de público</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let prod of productos">
                    <th scope="row">{{prod.id}}</th>
                    <td>{{prod.descripcion}}</td>
                    <td>{{prod.tipo}}</td>
                    <td>{{prod.fecha}}</td>
                    <td>{{prod.precio}} personas</td>
                    <td><img src={{prod.imagen}} alt=""></td>
                    <td style="text-align: center; padding-top: 4.5%;">
                        <app-boton [btnProd]="prod" (recargarGrilla)="refrescarGrilla($event)"></app-boton>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
